.card-block{
  height: 0;
  padding: 0 1.45rem;
  opacity: 0;
  transition: padding .3s ease-in, opacity .1s ease-in; 
}

.card-block.active{
  height: initial;
  padding: 1.45rem;
  opacity: 1;
}

.card-header, button{
  cursor: pointer;
}

