<div class="card">
  <div class="card-block">
    <h4 class="card-title">Create FAQ</h4>
    <hr>
    <form>
      <div class="form-group">
        <label>Question</label>
        <input type="text" class="form-control" placeholder="Type question">
      </div>
      <div class="form-group">
        <label>Answer</label>
        <input type="text" class="form-control" placeholder="Type answer">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
<br>